<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
    <div class="flex align-middle items-center px-10 mx-auto gap-6">
        <div class="text-white">
            <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact: true}"
                class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6" href="#">
                <svg fill="none" class="h-8 w-8 flex-no-shrink fill-current md:fill-white-700" version="1.1" id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200"
                    xml:space="preserve" stroke="#ffffff">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M43.48,0C28.1,0.003,15.588,12.517,15.588,27.896v141.188c0,15.38,12.512,27.894,27.893,27.896h131.66 c3.452,0,6.25-2.798,6.25-6.25v-21.646v-21.646V49.542V6.25c0-3.452-2.798-6.25-6.25-6.25H43.48z M43.481,12.5h125.41v37.042 v91.645H43.48c-5.687,0.001-10.978,1.716-15.392,4.649V27.896C28.088,19.408,34.994,12.501,43.481,12.5z M168.891,184.479H43.482 c-8.488-0.001-15.394-6.908-15.394-15.396c0-8.488,6.905-15.395,15.393-15.396h125.41v9.146h-98.41c-3.452,0-6.25,2.798-6.25,6.25 c0,3.452,2.798,6.25,6.25,6.25h98.41V184.479z">
                            </path>
                            <path
                                d="M73.496,87.7v23.664c0,3.452,2.798,6.25,6.25,6.25h37.486c3.452,0,6.25-2.798,6.25-6.25V87.701 c8.258-3.315,13.982-11.413,13.982-20.669c0-11.935-9.437-21.706-21.24-22.244c-4.161-5.506-10.644-8.791-17.734-8.791 c-7.093,0-13.575,3.285-17.735,8.791c-11.804,0.538-21.241,10.31-21.241,22.244C59.514,76.289,65.239,84.386,73.496,87.7z M81.782,57.265c0.473,0,0.954,0.035,1.433,0.105c2.686,0.397,5.313-0.986,6.512-3.418c1.661-3.364,5.02-5.455,8.765-5.455 c3.744,0,7.103,2.091,8.766,5.457c1.2,2.432,3.839,3.811,6.513,3.416c0.476-0.07,0.956-0.105,1.429-0.105 c5.386,0,9.768,4.382,9.768,9.768c0,4.905-3.663,9.069-8.52,9.685c-3.122,0.396-5.463,3.053-5.463,6.2v22.196H85.996V83.331 c0-0.007,0.001-0.015,0.001-0.021c0.207-3.293-2.182-6.18-5.455-6.593c-4.862-0.613-8.528-4.776-8.528-9.685 C72.014,61.646,76.396,57.265,81.782,57.265z">
                            </path>
                        </g>
                    </g>
                </svg>
                <h3 class="text-2xl font-semibold">Recipe App</h3>
            </a>
        </div>

        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            

            @if(accountService.currentUser()){
                <a routerLink="/lists" routerLinkActive="text-accent">Lists</a>
                <a routerLink="/users" routerLinkActive="text-accent" 
                [routerLinkActiveOptions]="{exact: true}">
                    Users
                </a>
                <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
                <a *appHasRole="['Admin', 'Moderator']" routerLink="/admin" routerLinkActive="text-accent">Admin</a>
            }
             <a routerLink="/errors" routerLinkActive="text-accent">Errors</a>
        </nav>

        @if(busyService.busyRequestCount() > 0){
            <span class="loading loading-spinner text-accent"></span>
        }

        <div class="flex align-middle ml-auto gap-3">
            <div class="dropdown mr-5 dropdown-end">
                <button tabindex="1" class="flex flex-col justify-center align-middle
                 text-white cursor-pointer uppercase text-xs">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="size-6 flex self-center">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
                </svg>
                <span>{{selectedTheme()}}</span>
                </button>
                <ul tabindex="1" class="dropdown-content menu bg-base-100 rounded-box z-50 w-52 p-2 shadow-sm">
                    @for (theme of themes; track $index){
                        <li (click)="handleSelectTheme(theme)">
                            <a>{{theme}}</a>
                        </li>
                    }
                </ul>
            </div>
            @if(accountService.currentUser(); as user){
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">
                    <img [src]="user?.imageURL || '/user.png'" alt="user avatar" class="w-8 h-8 rounded-full">
                    <span>{{user.displayName}}</span>
                </div>
                <ul (click)="handleUserSelectItem()" tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a routerLink="/users/{{user.id}}">Edit Profile</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </div>
            }@else {
            <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3" action="#">
                <input [(ngModel)]="creds.email" name="email" type="text" class="input" placeholder="Email">
                <input [(ngModel)]="creds.password" name="password" type="password" class="input"
                    placeholder="Password">
                <button type="submit" class="btn btn-primary">
                    @if(loading()){
                        <span class="mr-2 loading loading-spinner"></span>
                    }
                    Login</button>
            </form>
            }



        </div>
    </div>
</header>