@if(!userService.editMode()){
    @if (photos() ; as UserPhoto){
        @if (UserPhoto.length > 0){
        <div class="grid grid-cols-4 auto-rows-min gap-3 p-5 h-[65vh] overflow-auto">
            @for (photo of UserPhoto; track photo.id) {
            <div class="relative">
                <img src="{{photo.url}}" alt="user photo" class="w-full rounded-lg">
                @if(accountService.currentUser()?.id == userService.user()?.id){
                    <app-star-button [disabled]="photo.url === userService.user()?.imageUrl"
                    [selectedImage]="photo.url === userService.user()?.imageUrl" (clickEvent)="setMainPhoto(photo)">
                </app-star-button>
                <app-delete-button [disabled]="photo.url === userService.user()?.imageUrl" (clickEvent)="deletePhoto(photo.id)"></app-delete-button>
                }
                
            </div>
            }

        </div>
        }
        @else {
            <p class="text-center text-gray-500">No photos available</p>
        }
    }
} 
@else 
{
<app-image-upload (uploadFile)="onUploadImage($event)" [loading]="loading()" />
}